/* mockups.css */

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
    font-size: 14px;
}

div.container {
    width: 1024px;
    margin: auto;
}

div.form-group {
    margin-top: 20px;
}

div.form-group:nth-child(1) {
    margin-top: 0px;
}

input, label {
    color: #475c6e;
    font-size: 14px;
}

input::placeholder, label::placeholder {
    color: #7a97b0;
    font-weight: normal;
}

input {
    font-weight: bold;
}

input[type=text] {
    width: 250px;
    border-radius: 2px;
    border:solid 1px #ccc;
    padding: 7px 10px;
}

input[type=text]:focus {
    /* border-color: #437fb1; */
    box-shadow: 0px 0px 5px #437fb1;
}

label.form-label-block {
    display: block;
    margin-bottom: 6px;
    padding-left: 3px;
}
